/*
* Styles for Tiger Laundry Design 5: Global Styles
*
* Design by Benjamin Russell (www.csh.rit.edu/~benrr101)
* Project supported by RIT Residence Halls Association (rha.rit.edu)
*
*/

/* STYLE STRUCTURE

   body
    |
    a
    | - :active
    | - :link
    | - :visited
    |
  #container
    | - #header
    |     | - #headerLogo
    |     | - .headerNav
    |     | - #headerBldgMenu
    |     |     | - p
    |     | - #headerAboutMenu
    |	  |     | - p
    |
    | - #content
    |     | - .errorbox
    |     |     | - .error_header
    |     |     | - .error_content
    |     | - #quickStatus
    |     |     | - h3
    |     |     | - ul
    |     | - #roomContainer
    |     |     | - #room
    |     |     |    | - #door
    |     |     |    | - .machine
    |     |     |    | - .machineNS
    |     |     |    | - .machineEW
    |     |     |    | - h2
    |     |     |    | - h3
    |     |     |    | - h4
    |
    | - #footer
    |     | - #footerTitle
    |     | - #footerNav
    |     | - #footerLogobar
   h1
    |
   h2
    |
   h3
    |
   hr
    | - .headerRule
    | - .header2Rule
   img
    |
   .tableDiv
    | - table
    |      | - (tr)
    |      |    | - .header
   ul

*/

body {
	background-image:url('../images/globalShade.png');
	background-repeat:repeat-x;
	background-color: #ff9500;
	font-family:"Geneva", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
}

a:active {
	font-color:gray;
}

a:link {
	font-color:blue;
}

a:visited {
	font-color:#551A8B;
}

#container {
	position:relative;
	float:center;
	width:850px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-10px;
	margin-bottom:-10px;
	background-image:url('../images/globalBG.png');
}

/* ============================================================================ */

#header {
	position:relative;
	float:left;
	width:850px;
	height:210px;
	background-image:url('../images/headerBG.png');
}

#headerLogo {
	position:relative;
	float:left;
	margin-left:39px;
	margin-right:175px;
	margin-top:17px;
	margin-bottom:79px;
}

.headerNav {
	position:relative;
	float:left;
	margin-top:64px;
	margin-bottom:118px;
}

#headerBldgMenu {
	position:absolute;
	display:none;
	background-image:url('../images/bg13.png');
	width:200px;
	z-index:9999;
}

#headerBldgMenu p{
	margin:5px;
}

#headerAboutMenu {
	position:absolute;
	display:none;
	background-image:url('../images/bg13.png');
	width:200px;
	z-index:9999;
	margin-left:-70px;
}

#headerAboutMenu p{
	margin:5px;
}

/* ============================================================================ */

#content {
	position:relative;
	float:left;
	width:850px;
	min-height:300px;
	background-image:url('../images/globalBG.png');
}

/*IE HAx*/
* html #content {
	height:300px;
}

.errorbox {
	width:790px;
	position:relative;
	float:left;
	margin:28px;
	margin-top:100px;
	background-color:#E5DF12;
	border:solid 2px #C6C30E;
}

.errorbox .error_header {
	font-weight:bold;
	font-size:18px;
	margin-top:10px;
	margin-left:30px;
	margin-bottom:0px;
	margin-right:10px;
}

.errorbox .error_content {
	font-weight:normal;
	font-size:16px;
	margin-left:40px;
	margin-top:5px;
	margin-right:20px;
	margin-bottom:10px;
}

#legendContainer {
	width:50%; 
	background:#FFFFFF;
}

#quickStatus {
	position:relative;
	float:left;
	width:25%;
	margin:0px;
	background-color:#ff9500;
	background-image:url('../images/quickShade.png');
	background-repeat:repeat-x;
	border:solid 3px #a05200;
}

#quickStatus h3 {
	margin-left:2px;
	margin-right:2px;
}

#quickStatus ul {
	margin:0;
	padding-left:20px;
	padding-bottom:5px;
}

#quickStatus li {
	list-style-type:none;
	font-size:18px;
}

#roomContainer {
	position:relative;
	float:center;
	margin:auto;
	width:810px;
	margin-bottom:30px;
}

#roomContainer #room {
	position:relative;
	float:center;
	margin:auto;
	background-image:url('../images/roomBG.png');
	border:solid 2px gray;
}

#roomContainer #room #door {
	position:absolute;
	height:60px;
	width:60px;
}

#roomContainer #room .machine {
	position:absolute;
	height:60px;
	width:60px;
	background-image:url("../images/bg_full.png");
}

#roomContainer #room .machineNS {
	position:absolute;
	height:60px;
	width:30px;
	background-image:url("../images/bg_NS.png");
}

#roomContainer #room .machineEW {
	position:absolute;
	height:30px;
	width:60px;
	background-image:url("../images/bg_EW.png");
}

#roomContainer #room h2 {
	margin:auto;
	margin-top:4px;
	text-align:center;
	font-size:12px;
}

#roomContainer #room h3 {
	margin:auto;
	margin-top:0px;
	text-align:center;
	font-size:24px;
}
#roomContainer #room h4 {
	margin:auto;
	margin-top:-3px;
	text-align:center;
	font-size:12px;
}

/* ============================================================================ */

#footer {
	position:relative;
	float:left;
	width:850px;
	height:240px;
	background-image:url('../images/footerBG.png');
}

#footerTitle {
	position:relative;
	float:left;
	margin-top:110px;
	margin-left:320px;
	margin-right:299px;
	width:211px;
	height:27px;
}

#footerNav {
	position:relative;
	float:left;
	margin-top:13px;
	margin-left:20px;
	width:810px;
	height:30px;
	text-align:center;
	font-size:12px;
}

#footerLogoBar {
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:20px;
	width:810px;
	height:45px;
	text-align:center;
}

/* ============================================================================ */

img {
	border:none;
}

h1 {
	font-size: 24px;
	font-family:"Geneva", "Verdana", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin-left:40px;
	margin-right:40px;
	margin-top:5px;
	margin-bottom:5px;
}

h2 {
	font-size: 20px;
	font-family:"Geneva", "Verdana", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin-left:40px;
	margin-right:40px;
	margin-top:5px;
	margin-bottom:5px;
}

h3 {
	font-size: 18px;
	font-family:"Geneva", "Verdana", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin-left:40px;
	margin-right:40px;
	margin-top:5px;
	margin-bottom:5px;
}

hr {
	height:1px;
	background-color:black;
	width:80%;
	margin-top:15px;
	margin-bottom:15px;
}

.headerRule {
	height:1px;
	background-color:black;
	width:70%;
	margin-left:40px;
	margin-top:0px;
}

.header2Rule {
	height:1px;
	background-color:black;
	width:50%;
	margin-left:40px;
	margin-top:0px;
}

p {
	font-size: 14px;
	margin-left:65px;
	margin-right:65px;
	margin-top:0px;
	margin-bottom:0px;
}

.tableDiv {
	position:relative;
	float:center;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

table {
	border:none;
	width:100%
}

table tr .header {
	font-weight:bold;
}

ul {
	font-size: 14px;
	margin-left:40px;
	margin-right:40px;
	margin-top:0px;
	margin-bottom:0px;
}
