/*
 * Styles for Tiger Laundry Design 5: Global Styles (2011 Recode Version)
 * 
 * Design by Ben Russell (benrr101@csh.rit.edu)
 */

/* STYLE STRUCTURE ----------------------------------------

	body
	 |
	 a
	 | - :active
	 | - :link
	 | - :visited
	 |
    img
	 |
	#container
	 | - #header
	 |	   | - #headerLogo
	 |     | - .headerNav
	 |     | - #headerBldgMenu
	 |	   |	 | - p
	 |	   | - #headerAboutMenu
	 |	   |     | - p
     |
     | - #content
     |     | - #location
	 |	   |     | - div
	 |     |     |    | - H3
     |     |     |    | - H4
	 |	   |     | - .machineFullWidth
     |     |     | - .machineHalfNorth
     |     |     | - .machineHalfEast
	 |	   |     | - .GREEN
     |     |     | - .RED
     |     |     | - .GREY
     |
     | - #footer
     |     |
*/

body {
	background-image:url('../images/globalShade.png');
	background-color:#ff9500;
	background-repeat:repeat-x;
	font-family:"Geneva", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
	margin:0px;
}

a:active {
	color:grey;
}

a:link {
	color:blue;
}

a:visited {
	color:#551A8B;
}

img {
	border:0px;
}

/* ==================================== */

#container {
	position:relative;
	float:center;
	width:850px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('../images/containerBG.png');
	background-repeat:repeat-y;
}

#container #header {
	position:relative;
	float:center;
	width:810px;
	height:210px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('../images/headerBG.png');
}

#container #content {
	position:relative;
	float:center;
	width:810px;
	margin-left:auto;
	margin-right:auto;
}

#container #footer {
	position:relative;
	float:center;
	width:810px;
	height:240px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('../images/footerBG.png');
}

/* HEADER ============================= */

#headerLogo {
	position:relative;
	float:left;
	margin-left:20px;
	margin-top:15px;
	margin-bottom:79px;
	margin-right:175px;
}

.headerNav {
	position:relative;
	float:left;
	margin-top:64px;
	margin-bottom:118px;
}

#headerBldgMenu, #headerAboutMenu {
	position:absolute;
	display:none;
	background-image:url('../images/submenuBG.png');
	width:200px;
	z-index:9999;
}

#headerBldgMenu, #headerAboutMenu p{
	margin:5px;
	font-size:14px;
}

/* LOCATION =========================== */

#location {
	position:relative;
	float:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
background-color:green;
}

#location div {
	position:absolute;
}

#location div h3 {
	margin:0px;
	text-align:center;
	font-size:10pt;
}

#location div h4 {
	margin:0px;
	text-align:center;
	font-size:8pt;
}

#location .machineFullWidth {
	height:60px;
	width:60px;
	background-image:url('../images/machineFull.png');
}

#location .machineHalfNorth {
	width:60px;
	height:30px;
	background-image:url('../images/machineHalfNorth.png');
}

#location .machineHalfEast {
	width:30px;
	height:60px;
	background-image:url('../images/machineHalfEast.png');
}

#location .GREEN {
	background-color:#1BFA4E;
}

#location .RED {
	background-color:#F73C48;
}

#location .GREY {
	background-color:#B9B9B9;
} /*dicks*/



	
